:root {
  --primary-color: #006747;
  --primary-color-lighter: #009374;
  --secondary-color: #CFC493;
  font-family: "Open Sans", sans-serif;
  overflow: scroll;
}

h1 {
  text-transform: uppercase;
  color: var(--primary-color);
  margin: 16px;
}

.note {
  max-width: 800px;
  margin: 16px;
  width: calc(100vw - 32px);
}

.filters {
  margin: 16px;
}

.filters h2 {
  margin-bottom: 0;
}

.filterButton {
  padding: 8px;
  border-radius: 2px;
  border: none;
  margin: 4px;
  background-color: var(--secondary-color);
  transition: background 0.2s ease, color 0.2s ease, opacity 0.2s ease;
}

.filterButton:hover {
  opacity: 0.8;
  cursor: pointer;
}

.filterButton.filterButton--active {
  background-color: var(--primary-color);
  color: white;
}

.orgChart-node {
  background-color: var(--primary-color);
  color: white;
  min-width: 100px;
  max-width: 100px;
  height: 140px !important;
  border-radius: 3px;
  height: 100%;
  transition: background 0.2s ease;
}

.orgChart-node--selected {
  background-color: var(--primary-color-lighter);
}

.orgChart-node a {
  color: white;
  text-decoration: none;
}

.orgChart-node a:hover {
  text-decoration: underline;
}

.orgChart-node-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.orgChart-node-flex > span {
  padding: 5px;
}

.orgChart-node-team {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
}

.orgChart-node-open {
  font-style: italic;
  font-size: 10px;
}

.orgChart-node-position {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.orgChart-node-heldBy {
  font-weight: bold;
}

.orgChart-node-spaceFiller {
  height: 2em;
}

.google-visualization-orgchart-linenode {
  border-color: var(--secondary-color) !important;
  border-width: 2px !important;
}