:root {
  --primary-color: #006747;
  --primary-color-lighter: #009374;
  --secondary-color: #CFC493;
}

.orgChart-node {
  background-color: var(--primary-color);
  color: white;
  font-family: "Open Sans", sans-serif;
  min-width: 100px;
  border-radius: 3px;
  height: 100%;
}

.orgChart-node--selected {
  background-color: var(--primary-color-lighter);
}

.orgChart-node-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.orgChart-node-flex > span {
  padding: 5px;
}

.orgChart-node-team {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
}